.title {
  background: var(--mars-theme-bg-color);
  border-top: 1px solid var(--mars-theme-card-border-color);
  color: var(--mars-theme-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.apiSettingModal {
  .corsExtra {
    padding-left: 6px;
    color: var(--ant-color-text-description);
  }

  :global {
    .ant-tabs {
      .ant-tabs-tab {
        font-size: var(--ant-modal-title-font-size);
      }
    }

    .ant-form-item {
      position: relative;

      .ant-form-item-control {
        position: unset;
      }

      .ant-form-item-additional .ant-form-item-extra {
        position: absolute;
        right: 0px;
        top: 0px;
      }

      .ant-switch.ant-switch-checked {
        background-color: #23971F;
      }
    }
  }
}

.variableIcon {
  border-width: var(--ant-line-width);
  border-style: var(--ant-line-type);
  border-color: var(--ant-color-border);
  border-radius: var(--ant-border-radius);
  width: 28px;
  height: 28px;
  padding-left: 8px;
  padding-right: 8px;
}
