.resourceContainer {
  padding: 17px 15px;
  height: calc(100vh - 64px);
  overflow: auto;
  display: flex;
  flex-direction: column;

  .searchBar {
    margin-bottom: 0;
  }

  :global {
    .ant-divider-horizontal {
      margin: 14px 0;
    }
  }

  .topContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;

    >div {
      display: flex;
      gap: 10px;

      :global {
        .ant-btn {
          border-radius: 4px;
        }
      }
    }

    >div:first-child {
      flex: 1;
      align-items: flex-start;

      :global {
        .ant-btn {
          width: 90px;
          height: 28px;
          position: relative;
          transition: none;

          >div:first-child {
            display: none;
          }
        }
      }

      .checkContainer {
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        bottom: 0;
        border-color: var(--ant-color-primary) transparent;
        border-width: 0 0 15px 17px;
        border-style: solid;
        display: none;
      }

      .active {
        border: 1px solid var(--ant-color-primary);

        .checkContainer {
          display: block;
        }

        &::after {
          box-sizing: border-box;
          position: absolute;
          bottom: -3px;
          right: 3px;
          display: table;
          width: calc(var(--ant-control-interactive-size) / 16* 5);
          height: calc(var(--ant-control-interactive-size) / 16* 8);
          border: var(--ant-line-width-bold) solid var(--ant-color-white);
          border-top: 0;
          border-inline-start: 0;
          transform: rotate(45deg) scale(1) translate(-50%, -50%);
          content: "";
        }
      }
    }

    >div:last-child {
      align-items: flex-end;

      .createGroupBtn {
        width: 99px;
      }

      .refreshButton {
        transform: rotate(-110deg);
      }
    }
  }
}