// 修改系统组件：antd的样式
.leftTool {
  :global {
    .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-tab {
      margin-top: 22px;
      padding: 0 12.5px;
      justify-content: center;
    }
    .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-tab:not(:first-child) {
      margin-top: 25px; /* 其他元素的 margin-top 为 25px */
    }
    .ant-tabs-tab .anticon:not(:last-child) {
      margin-right: 0;
    }
  }
}

.menuContent {
  margin-left: -14px;
  :global {
    .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-tab {
      margin-top: 6px;
      margin-bottom: 6px;
    }
    .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-tab:not(:first-child) {
      margin-top: 6px;
    }
  }
}

// 组件大纲
.outlinePanel {
  height: calc(100vh - 110px);
  overflow-y: auto;
  :global {
    .ant-tree .ant-tree-node-selected {
      // background-color: #9d5cff;
      // color: #fff;

    }
    .ant-tree .ant-tree-node-content-wrapper {
      padding-inline: unset;
    }
    .ant-tree .ant-tree-switcher {
      margin-inline-end: unset;
    }
  }
}

.itemContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  user-select: none;
  cursor: move;
  border-radius: 8px;
  padding: 4px 2px;
  border: 1px solid transparent;
  transition: all 0.3s;

  &:hover {
    // border: 1px dashed #9d5cff;
    transform: scale(1.05);
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #f0f0f1;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    transition: all 0.3s;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .itemName {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 8px;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
  }
}

.menuContainer {
  position: relative;
  height: 100%;
  width: 100%; /* 确保容器占满Splitter.Panel的宽度 */
}

.collapseButtonContainer {
  position: absolute;
  top: 50%;
  z-index: 9999;
  transform: translateY(-50%);
}

.collapseButton {
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 21px;
  border-radius: 3px;
  transition: all 0.3s;
  color: transparent;  /* 默认文字颜色 */
  
  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #1677ff;
    color: #fff;
  }
}

.tabsContainer {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid #f0f0f0;
}

.tabs {
  display: flex;
  flex: 1;
}

.tabContent {
  flex: 1;
  overflow: auto;
}

/* 可以添加一个样式类用于折叠状态 */
.collapsedMenu {
  .leftTool {
    :global {
      .ant-tabs-nav {
        width: 50px !important; /* 强制覆盖宽度 */
        min-width: 50px !important;
      }
      
      .ant-tabs-content-holder {
        display: none !important; /* 完全隐藏内容区域 */
      }
    }
  }
}
