.apiConfigListItem {
  width: 100%;
  padding: 8px;
  border: 1px solid #d9d9d9;
  margin-bottom: 5px;
  border-collapse: collapse;
  font-size: 12px;
  border-radius: 6px;
}

.apiConfigHeader {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 36px;
  position: absolute;
  right: 0px;
  top: 0px;

  :global {
    .ant-btn {
      padding: unset;
    }
  }

}

.apiConfigBottom {
  width: 100%;
}

.apiConfigName {
  max-width: calc(100% - 96px);
  text-overflow: ellipsis;
}

.apiConfigAction {
  width: 96px;
}

.iconCol {
  display: flex;
  align-items: center;
  :global {
    .ant-tag {
      display: block;
      width: 60px;
      // height: 15px;
      line-height: 15px;
      text-align: center;
    }
  }
}