.emptyItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 419px;
  background: #F4F9FF;
  border-radius: 8px;
  padding-left: 11px;
  padding-right: 11px;

  .iconTitle {
    display: flex;
    align-items: center;

    >img {
      width: 58px;
      height: 43px;
      margin-right: 12px;
    }

    .colorTitle {
      color: var(--ant-color-primary-hover);
    }
  }

}