.imagePreview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 206px;
  height: 170px;
  overflow: hidden;
  position: relative;

  :global {
    .ant-image {
      flex: 1;
      border-radius: 12px;
      overflow: hidden;
      z-index: 0;

      .ant-image-img {
        object-fit: cover;
      }

      .ant-image-mask {
        bottom: 37px;
      }
    }
  }

  .imageTool {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 0;
    right: 0;
    width: 100%;
    height: 37px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.50);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    opacity: 0;
    overflow: hidden;
    transition: opacity var(--ant-motion-duration-slow);

    &:hover {
      opacity: 1;
    }

    svg {
      font-size: 15px;
      cursor: pointer;
    }

    :global {
      .ant-divider {
        margin: 0 33px;
        height: 20px;
      }
    }
  }

  .imageBottom {
    height: 20px;
    margin-top: 10px;

    >div:last-child {
      color: #999999;
    }
  }
}