/* -----------------------------------------页面卡片样式----------------------------------------- */
.card {
  :global {
    .ant-card-body {
      padding-inline: 15px;
      padding-top: 13px;
      padding-bottom: 8px;
    }
    .ant-card-actions li {
      margin: 8px 0;
    }
  }
}

.cardBody {
  cursor: pointer;
}

.itemTitle {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pageIcon {
  margin-right: 7px;
}

.updateUser {
  font-size: 12px;
  color: #9c9a9a;
}