.resourceGroup {
  padding: 0;

  :global {
    .ant-collapse-item .ant-collapse-header {
      align-items: center;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #F3F3F3;
    }

    .ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
      padding: 0;
      margin: 0;
    }
  }
}