.dslEditor {
    margin-left: -10px;
    width: 100%;
    position: relative;

    // 隐藏原有的查找控件
    :global {
        .monaco-editor .find-widget {
            display: none !important;
        }

        .decorationsOverviewRuler {
            width: 10px !important;
        }

        .monaco-scrollable-element>.scrollbar {
            width: 10px !important;
        }

        .monaco-scrollable-element>.scrollbar>.slider {
            width: 10px !important;
            border-radius: 5px !important;
        }
    }
}
