/* 页面样式 */
.project,
.pageList,
.libWrap,
.workflow {
  padding: 17px 15px;
  height: calc(100vh - 64px);
  overflow: auto;
  display: flex;
  flex-direction: column;

  .pagesContent,
  .projectContent {
    flex: 1;
  }
}

.pageList,
.libList {
  :global {
    .ant-card {
      transition: all 0.3s;

      &:hover {
        border-color: #7d3fff;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.cardBody {
  cursor: pointer;
}

.itemEnv {
  position: absolute;
  top: 8px;
  right: 0px;
}

.itemTitle {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .pageIcon {
    margin-right: 7px;
  }
}

.itemRemark {
  margin-top: 8px;
  margin-bottom: 10px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: 400;
  text-overflow: ellipsis;
}

.updateUser {
  font-size: 13px;
  color: #9c9a9a;
}

.project,
.libList {
  :global {
    .ant-card-body {
      padding-inline: 12px;
      padding-bottom: 6px;
    }

    .ant-card-actions li {
      margin: 8px 0;
    }
  }
}

// 组件库
.libWrap {
  .search {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .libList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
  }
}

// 模板页面
.searchBox {
  width: 50%;
  margin: 0 auto 30px;
}

// 分组样式头部label
.group {
  .groupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .editIcon {
      margin-left: 10px;
    }

    :global {
      .ant-btn {
        padding-right: 0px;
      }
    }
  }
}

// 分组折叠面样式改写
.projectContent {
  :global {
    .ant-collapse {
      .ant-collapse-header {
        align-items: center;
        padding: 0px;
        margin-top: 12px;
        border-bottom: 1px solid #F3F3F3;
      }

      .ant-collapse-content .ant-collapse-content-box {
        padding-top: 15px;
      }
    }
    .ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
      border-radius: unset !important;
     }
  }
}