/* -----------------------------------------列表页面通用样式----------------------------------------- */
.project,
.pageList,
.workflow {
  padding: 17px 15px;
  height: calc(100vh - 64px);
  overflow: auto;
  display: flex;
  flex-direction: column;

  .pagesContent,
  .projectContent {
    flex: 1;
  }
}

.pageList {
  :global {
    .ant-card {
      transition: all 0.3s;

      &:hover {
        border-color: #216ef7;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.itemEnv {
  position: absolute;
  top: 8px;
  right: 0px;
}

.project {
  :global {
    .ant-card-body {
      padding-inline: 12px;
      padding-bottom: 6px;
    }

    .ant-card-actions li {
      margin: 8px 0;
    }
  }
}

// 模板页面
.searchBox {
  width: 50%;
  margin: 0 auto 30px;
}

// 分组折叠面样式改写
.projectContent {
  :global {
    .ant-collapse {
      .ant-collapse-header {
        align-items: center;
        padding: 0px;
        margin-top: 12px;
        border-bottom: 1px solid #F3F3F3;
      }

      .ant-collapse-content .ant-collapse-content-box {
        padding-top: 15px;
      }
    }

    .ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
      border-radius: unset !important;
    }
  }
}