// 分组样式头部label
.group {
  .groupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    :global {
      .ant-btn {
        margin-bottom: 5px;
        font-size: 13px;
        padding: 0px 8px;
      }
    }

    .groupNameWrap {
      display: flex;
      align-items: center;

      .iconContainer {
        display: none;
        align-items: center;

        .editIcon {
          margin-left: 10px;
        }
      }

      &:hover {
        .iconContainer {
          display: flex;
          
      }
      }
    }
  }
}