// 分组样式头部label
.group {
  .groupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .editIcon {
      margin-left: 10px;
    }

    :global {
      .ant-btn {
        padding-right: 0px;
      }
    }
  }
}