/* 组件面板 */
.componentPanel {
  :global {
    .ant-tabs-nav {
        margin: 0 0 10px 0;
    }
    .ant-collapse-header-text {
        font-weight: 600;
    }
    .ant-collapse-ghost >.ant-collapse-item >.ant-collapse-content >.ant-collapse-content-box {
        padding: 0;
    }
    // .ant-collapse-header:not(:last-child) {
    //     margin-top: 15px;
    // }
  }
}
